name: build-test-deploy
on: push
jobs:
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
      - name: Install
        run: npm install
      - name: Test
        run: npm test
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Say hello world
        run: echo "$(cat hello_world.txt)"
      - name: use node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: npm run build
  deploy:
    runs-on: ubuntu-latest
    needs: test
    permissions: 
      contents: write
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.pages_url }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: use node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
      - name: configure github pages
        uses: actions/configure-pages@v5
        with:
            static_site_generator: next
      - run: npm install
      - run: npm run build
      - name: upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./out"
      - name: deploy
        id: deployment
        uses: actions/deploy-pages@v4
